<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cloud-Based Service for Basic Data Analytics</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <h1>Cloud-Based Service for Basic Data Analytics</h1>
    <div class="menu">
        <a href="/upload"><i class="fas fa-upload"></i> Upload Documents</a>
        <a href="/sort"><i class="fas fa-sort-alpha-down"></i> Sort Documents</a>
        <a href="/search"><i class="fas fa-search"></i> Search in Documents</a>
        <a href="/classify"><i class="fas fa-tags"></i> Classify Documents</a>
        <a href="/statistics"><i class="fas fa-chart-bar"></i> Statistics</a>
    </div>
</body>
</html>
